<div class="contacts">
    <div class="phone">
        <img class="phone_icon" src="../images/phone.png" alt="phone">
        <span>(050) 023 54 41</span>
    </div>
    <div class="icons">
        <div class="fb">
            <a href="https://www.facebook.com/profile.php?id=100008112884171&ref=bookmarks"><img src="../images/fb1.png"
                                                                                       alt="facebook"></a>
        </div>
        <div class="in">
            <a href="https://www.linkedin.com/in/nataliia-kravets-ba0a73102/"><img src="../images/in1.png"
                                                                                   alt="linkedin"></a>
        </div>
    </div>
</div>
