<div class = "wrapper" (back)="console.log('backkkkk')">
    <div class="container main">
        <header>
            <main-title [flag]="flag"></main-title>
        </header>
      <div class="auth_line" *ngIf="!hideFlag">
        <a [routerLink]="['login']" (click)="openPopup()">LogIn</a>
      </div>
        <buttons [hideFlag]="hideFlag" ></buttons>
        <router-outlet></router-outlet>

        <div class="buffer"></div>
    </div>

    <footer>
        <div class="container">
            <social></social>
        </div>
    </footer>
</div>
