.experience_wr {
  position: relative;
  overflow: hidden;
}
.experience {
  width: 100%;
  text-align: center;
}

.title-wr {
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 150px;
  margin-left: -50px;
}

.title-wr:before {
  position: absolute;
  display: block;
  content: '';
  width: 46px;
  height: 51px;
  background: url('../images/g-line-str.png') no-repeat;
  top: 37px;
  left: 100%;
  z-index: 2;
}
.title-wr:after {
  position: absolute;
  display: block;
  content: '';
  width: 121px;
  height: 121px;
  background: url('../images/exp.png') no-repeat;
  top: 85px;
  right: -102px;
  z-index: 1;
}
ul {
  list-style: none;
  padding: 0;
  width: 80%;
  max-width: 700px;
  margin: 20px auto;

}

li {
  font: 20px Tahoma, sans-serif;
  border: 1px solid #c5c5c5;
  border-top: none;
  line-height: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

li:first-child {
  border-top: 1px solid #c5c5c5;
}

li a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

li a:hover {
  text-decoration: underline;
}


