a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    width: 33%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.link_title {
    margin-top: 10px;
}
a:hover {
    /*text-decoration: underline;*/
    cursor: pointer;
}
.buttons {
    width: 100%;
    max-width: 800px;
    min-width: 800px;
    margin: 100px auto 0;
    box-sizing: border-box;
    padding: 30px 0 10px;
}
.fio {
  position: absolute;
  right: 50%;
  top: -85px;
  border-bottom: 1px solid #c5c5c5;
  margin-right: 40px;
  font: 35px Tahoma, sans-serif;
}
.position {
  position: absolute;
  top: 41px;
  left: 0;
}
.my_photo {
    width: 100%;
    position: relative;
}
.my_photo:before {
  display: block;
  content: '';
  position: absolute;
  width: 46px;
  height: 51px;
  background: url('../images/o-line.png') no-repeat;
  top: 0;
  left: 50%;
  margin-left: -40px;
  margin-top: -48px;
  z-index: 2;
}
.my_photo img{
    width: 280px;
}
.img  {
    border: 1px solid #cbcdcc;
    background-color: #e9f1ee;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}
.img:before {
  display: block;
  content: '';
  position: absolute;
  width: 155px;
  height: 102px;
  background: url('../images/y-line.png') no-repeat;
  bottom: -50px;
  left: -114px;
}
.img:after {
  display: block;
  content: '';
  position: absolute;
  width: 155px;
  height: 102px;
  background: url('../images/g-line.png') no-repeat;
  bottom: -50px;
  right: -114px;
}
.links {
    margin-top: 46px;
}
.round_wr {
    border-radius: 50%;
    overflow: hidden;
    width: 280px;
    height: 280px;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}
.person {
    text-align: center;
}

.knowledge {
    position: relative;
}
.knowledge:before {
    display: block;
    content: '';
    position: absolute;
    width: 7px;
    height: 52px;
    background: url('../images/b-line.png');
    top: -49px;
    left: 50%;
}
.experience {

}
.hidden {
    display: none;
}
