
<div class="clearfix buttons" [ngClass]="{'hidden':hideFlag}">
    <div class="my_photo">
        <div class="fio">{{name}} {{surname}} <div class="title-small position">Frontend developer</div></div>

        <div class="img">
            <div class="round_wr"><img src="../images/my_photo1.png" alt="Photo"></div>
        </div>
    </div>
    <div class="links">
        <a class="person" [routerLink]="['about']" (click)="hideThreeButtons()"><img src="../images/about.png" alt=""><div class="link_title">about</div></a>
        <a class="knowledge" [routerLink]="['knowledge']" (click)="hideThreeButtons()"><img src="../images/knw.png" alt=""><div class="link_title">knowledge</div></a>
        <a class="experience" [routerLink]="['experience']" (click)="hideThreeButtons()"><img src="../images/exp.png" alt=""><div class="link_title">experience</div></a>
    </div>

</div>
