<div class="info clearfix">
  <div class="title-wr">
    <div class="title">About me</div>
    <div class="title-small">Information</div>
  </div>

  <div class="short_info">
    <div>Hi.
      I am a frontend developer.
      I have 1 year commercial experience working in the Web Studio, providing responsive websites. The work I provide
      is responsive and tested on different devices.
      I like to face with something new and interesting for me.
      My frontend build process involves using of tools such as Sass, Gulp, NPM to speed up development.
    </div>
    <a [routerLink]="['graduate']" routerLinkActive="active">Graduation</a>
    <a [routerLink]="['personal']" routerLinkActive="active">Personal qualities</a>
    <router-outlet></router-outlet>
  </div>

  <div class="back">
    <button (click)="goHome()">Back</button>
  </div>
</div>



