.info {
  text-align: center;
}
a {
  text-decoration: none;
  color: #435789;
  font-size: 18px;
  margin: 10px;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.active {
  color: #ff0000;
}
p {
  margin: 5px 0;
  font: 16px Tahoma;
  line-height: 23px;
  text-align: left;
  text-indent: 20px;
}
.short_info div{
    margin-bottom: 10px;
    color: #000;
}
.title-wr:after {
  background: url('../images/about.png') no-repeat;
}
.title-wr:before {
  background: url('../images/o-line.png') no-repeat;
}
.short_info {
  padding: 30px;
  box-sizing: border-box;
  width: 80%;
  max-width: 700px;
  margin: 20px auto;
  border: 1px solid #c5c5c5;
}
