.info {
  text-align: center;
}

.short_info {
    font: 20px FiraSans, sans-serif;
    color: #000;
}
.title-wr:after {
  background: url('app/images/about.png') no-repeat;
}
.title-wr:before {
  background: url('app/images/o-line.png') no-repeat;
}
.short_info {
  padding: 30px;
  box-sizing: border-box;
  width: 80%;
  max-width: 700px;
  margin: 20px auto;
  border: 1px solid #c5c5c5;
}
/*.round_wr {*/
    /*border-radius: 50%;*/
    /*overflow: hidden;*/
    /*width: 300px;*/
    /*height: 300px;*/
/*}*/
/*.clearfix:after {*/
    /*display: block;*/
    /*content: '';*/
    /*clear: both;*/
/*}*/
