knowledge {
  display: block;
  clear: left;
}

.info_block {
  font: 20px Tahoma, sans-serif;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.title-wr:after {
  background: url('../images/knw.png') no-repeat;
}
.title-wr:before {
  background: url('../images/b-line-str.png') no-repeat;
}
/*.skills {*/
/*width: 50%;*/
/*float: left;*/
/*margin: 30px 0 0;*/
/*}*/


